@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Watts' A Loan</h1>
    <p class="text-center">
        <img src="~/Images/wal1.png" alt="Watts A Loan" width="650" height="200" />
    </p>
</div>

<hr />

<div class="row">
    <div class="col-md-9">
        <dic class="row">
            <div class="col-md-2">
                <img src="~/Images/wal2.png" alt="Watts A Loan - Personal Loans" width="100" height="71" class="bordered" />
            </div>
            <div class="col-md-10 common-font">
                <h4 class="wheat">Personal Loans</h4>
                <p class="regular-text">Our most popular program is for personal loans, usually as cash, delivered directly from our office. The application process is very fast and easy. To start, access our loan application.</p>
            </div>
        </dic>

        <hr color="white" />
        <dic class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/Images/wal3.png" alt="Watts A Loan - Furniture Loans" width="100" height="75" class="bordered" />
                    </div>
                    <div class="col-md-8 common-font">
                        <h4 class="wheat">Furniture Loans</h4>
                        <p class="regular-text">Another one of our popular loan program is to assist customers in buying furniture.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/Images/wal4.png" alt="Watts A Loan - Car Financing" width="100" height="75" class="bordered" />
                    </div>
                    <div class="col-md-8 common-font">
                        <h4 class="wheat">Car Financing</h4>
                        <p class="regular-text">Another one of our popular loan program is to assist customers in buying furniture.</p>
                    </div>
                </div>
            </div>
        </dic>
    </div>
    <div class="col-md-3">
        <div class="menu-box">
            <ul>
                <li>Loan Application</li>
                <li>Loam Process</li>
                <li>Types of Loans</li>
                <li>Financial Aid</li>
                <li>Students Concerns</li>
                <li>Car Financing</li>
                <li>Musical Instruments</li>
                <li>Small Business Loan</li>
                <li>Documentation</li>
                <li>Newsletters</li>
            </ul>
        </div>
    </div>
</div>